

header img
{
    order: 1;
}

header nav
{
    order:3;
    width: 100%;
}

header li
{
    width: 55%;
}

.inscription
{
    order: 2;
}

header
{
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 300px;
    margin: 5%;
}


.search
{
    width: 100%;
}
.recherche{
    flex: 1;
}
#icon_search{
    display: block;
    width: 60px;
		height: 54.8px;
		display: flex;
		justify-content: space-around;
        align-items: center;
        border-radius: 15px;
}

#text_search{
    display: none;
}


.filtres{
    display: block;
}

.filtres_mobile{
    justify-content: space-between;
}

.bouton_filtre
{
    margin-left: 0px;
}








.résultats
{
    flex-direction: column;
    width: 100%;
    margin: 0%;
}

.résultats aside
{
    width: 100%;
    order: 1;
}

.résultats section
{
    width: 100%;
    order: 2;
}

footer
{
    flex-direction: column;
}

footer nav
{
    width: 100%;
}